.header {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.paragraph {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-variant: initial;
}